<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />

  
  <title>Hackathon</title>
  <link rel="stylesheet" href="https://dds-gen3.web.unimelb.edu.au/v8.2.0/uom.css">
  <script src="https://dds-gen3.web.unimelb.edu.au/v8.2.0/uom.js"></script>
  
  <link rel="icon" href="https://www.unimelb.edu.au/__data/assets/image/0006/2703129/favicon.gif" type="image/gif" sizes="16x16">
  
</head>
<body>



  <div class="uomcontent">
    <div class="page-inner">
      <div role="main">
        
        <h1>BayesPub Server</h1>
        <p> <a href='/qa/playground/' target="_blank">Question/Answer Demo</a></p>
    
        <p>Example PMIDs:
            <ul>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/19426561/" target="_blank">19426561</a>
                   - Bayesian versus frequentist statistical inference for investigating a one-off 
                   cancer cluster reported to a health department
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/29969949/" target="_blank">29969949</a>
                   - "Eavesdropping on Happiness" Revisited: A Pooled, Multisample Replication of 
                   the Association Between Life Satisfaction and Observed Daily Conversation Quantity and Quality
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/31064517/" target="_blank">31064517</a>
                   - A Bayesian decision-making framework for replication
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/34921115/" target="_blank">34921115</a>
                   - Why ex post peer review encourages high-risk research while ex ante review discourages it
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/22883424/" target="_blank">22883424</a>
                   - An indirect comparison of the efficacy and safety of desvenlafaxine and venlafaxine 
                   using placebo as the common comparator
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/33539414/" target="_blank">33539414</a>
                   - Optimising weight-loss interventions in cancer patients-A systematic review 
                   and network meta-analysis
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/23915716/" target="_blank">23915716</a>
                   - Selective ablation of mast cells or basophils reduces peanut-induced anaphylaxis in mice
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/26199134/" target="_blank">26199134</a>
                   - Estimating the cost of caring for people with cancer at the end of life: A modelling study
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/32246534/" target="_blank">32246534</a>
                   - BAREB: A Bayesian repulsive biclustering model for periodontal data
                </li>
                <li>
                  <a href="https://pubmed.ncbi.nlm.nih.gov/32247326/" target="_blank">32247326</a>
                   - Evolving epidemiology and transmission dynamics of coronavirus disease 2019 
                   outside Hubei province, China: a descriptive and modelling study
                </li>
            </ul>
        </p>
        <p>Example System message: You are an expert in Bayesian and Frequentist statistics.</p>
        <p>Example Prompt Question: Does this article compare Bayesian and Frequentist statistical methodologies?</p>    


      </div>
    </div>
  </div>
  <div id="sitemap" role="navigation">
    <h2>Home</h2>
    <ul>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->
  <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>


  </script>

</body>
</html>
